@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: white;
    overflow: hidden;
     margin: 0;
}







main{
    width: 100vw;
    min-height: 100vh;
    padding:50px;
    transition: 0.5s linear;
    position: relative;
}


.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
      gap:60px;
     width: 100vw;
     padding: 0;
     margin: 0;
     position: fixed;
     top: 0px;
     color: white;
     cursor: pointer;
     background-color: gray;
     height: 60px;
    

}
ul{
    list-style: none;
}
.nav-links ul{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 200px;
    position: fixed;
    margin-top:-20px;
    
}
.logo{
    display:flex;
    justify-content: space-around;
    margin-left: -500px;
    margin-top: 0px;

}

nav a{ 
    text-decoration: none;
    color: blue;
padding-right:20px ;
padding-left: 20px;
}



nav lI{
    display: flex;
    justify-content: space-around; 
  
}

   

.section-1{
   background-image: url("../ebere_background.jpg");
   background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
   background-size: contain;
    padding: 80vh 100vw; 
    text-align: center;
    position: absolute;
    right: 0px;
    top: 100px;
}
img{
    max-width: 100%;
}
/* .circular-img{
  
 min-height: 80vh;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
}  */
.name{
    font: size 1000px; 
    font-weight: 500;
    font-style: italic;
    color: blue;
}
.stack{
    font-size: large;
    font-weight: 400;
    color: blue;
}


.section-2{
    /* display: flex; */
    /* flex-direction: row-reverse; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* margin-top: 30px; */
    
    padding-top: 80px;
    margin-left: 500px;
    position: relative;
    float: right;
    padding-left: 80px;
    
}
.computer{
    padding-top: 30px;
    height: 400px;
    width: 400px;
}
/*.my-skill{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}*/

.my-skill{
    flex-basis: 15%;
    line-height: 6;
    color: blue;
    font-size:medium ;
}
div.section-2 ul li{
    color:blue;
    font-size: medium;
    font-weight: 700;
}

div.section-2 h1{
    font-style: italic;
}
.section-3{
    /* display: flex;
    
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; */
    margin-top: 30px;
    padding-top: 80px;
}
.TEAM{
    padding-top: 30px;
    height: 400px;
    width: 400px;
}

.soft-skills{
    flex-basis: 60%;
    line-height: 5;
    color: blue;
    font-size:medium ;
}
div.section-3 ul li{
    color:blue;
    font-size: medium;
    font-weight: 700;
}

div.section-3 h1{
    font-style: italic;
}
.section-4{
    text-align: center;
    color: blue;
    line-height: 1.6;
    padding-top: 30px;
    padding-bottom: 20px;
}
div.section-4 h1{
    font-style: italic;
}

.button{
    text-align: right;
    background-color: rgb(63, 63, 248);
    color: white;
    align-items: center;
    border: 0;
    border-radius: 6;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;

    /* padding: 30px; */
    
    /* border-radius: 10px; */
    /* -moz-border-radius: 10px; */
    /* -webkit-border-radius: 10px; */
    /* margin:10px */

}



 .footer{
     display: flex;
     justify-content: flex-end;
     gap: 50px;
    
     
 }

 .twit{
    color: #6e6c6c;
    transition: color 0.3s;
    
}
 
.link{
    color: #6e6c6c;
    transition: color 0.3s;
    
}
 
.git{
    color: #6e6c6c;
    transition: color 0.3s;
    

}
  
.twit:hover{
    color: #333333;
}
.link:hover{
    color: #333333;
}
.git:hover{
    color: #333333;
}


